TravelGoodREST/web/WEB-INF/wsdl/localhost_8080/LameDuck/LameDuck.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://LameDuck" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://LameDuck" name="LameDuck">

	<types>
		<xsd:schema>
			<xsd:import namespace="http://LameDuck" schemaLocation="http://localhost:8080/LameDuck/LameDuck?xsd=1"/>
		</xsd:schema>
	</types>

	<message name="getFlights">
		<part xmlns:ns1="http://LameDuck" name="parameters" element="ns1:getFlights"/>
	</message>
	<message name="getFlightsResponse">
		<part xmlns:ns2="http://LameDuck" name="parameters" element="ns2:getFlightsResponse"/>
	</message>
	<message name="bookFlight">
		<part xmlns:ns3="http://LameDuck" name="parameters" element="ns3:bookFlight"/>
	</message>
	<message name="bookFlightResponse">
		<part xmlns:ns4="http://LameDuck" name="parameters" element="ns4:bookFlightResponse"/>
	</message>
	<message name="cancelFlight">
		<part xmlns:ns5="http://LameDuck" name="parameters" element="ns5:cancelFlight"/>
	</message>
	<message name="cancelFlightResponse">
		<part xmlns:ns6="http://LameDuck" name="parameters" element="ns6:cancelFlightResponse"/>
	</message>
	<message name="FlightFaultMessage">
		<part xmlns:ns7="http://LameDuck" name="parameters" element="ns7:FlightFault"/>
	</message>
	
	<portType name="LameDuckPortType">
		<operation name="getFlights">
			<input message="tns:getFlights"/>
			<output message="tns:getFlightsResponse"/>
		</operation>
		<operation name="bookFlight">
			<input message="tns:bookFlight"/>
			<output message="tns:bookFlightResponse"/>
			<fault message="tns:FlightFaultMessage" name="FlightFaultMessage"/>
		</operation>
		<operation name="cancelFlight">
			<input message="tns:cancelFlight"/>
			<output message="tns:cancelFlightResponse"/>
			<fault message="tns:FlightFaultMessage" name="FlightFaultMessage"/>
		</operation>
	</portType>
	
	<binding name="LameDuckPortBinding" type="tns:LameDuckPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="getFlights">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="bookFlight">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FlightFaultMessage">
				<soap:fault name="FlightFaultMessage"/>
			</fault>
		</operation>
		<operation name="cancelFlight">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FlightFaultMessage">
				<soap:fault name="FlightFaultMessage"/>
			</fault>
		</operation>
	</binding>
	
	<service name="LameDuck">
		<port name="LameDuckPort" binding="tns:LameDuckPortBinding">
			<soap:address location="http://localhost:8080/LameDuck/LameDuck"/>
		</port>
	</service>
</definitions>